---
import DocLayout from '../layouts/DocLayout.astro'
import DeviceScreenshot from '../components/DeviceScreenshot.astro'
import InfoBox from '../components/InfoBox.astro'
import { t } from '../i18n'
---

<DocLayout title={t('pages.assignments.title')} description={t('pages.assignments.description')}>
  <h1 data-i18n="assignments.heading">{t('assignments.heading')}</h1>

  <p class="lead text-text-secondary dark:text-text-secondary-dark" data-i18n="assignments.lead">
    {t('assignments.lead')}
  </p>

  <h2 data-i18n="assignments.whatAre.title">{t('assignments.whatAre.title')}</h2>

  <p data-i18n="assignments.whatAre.description">{t('assignments.whatAre.description')}</p>

  <ul>
    <li data-i18n="assignments.whatAre.details.dateTime">
      {t('assignments.whatAre.details.dateTime')}
    </li>
    <li data-i18n="assignments.whatAre.details.teams">{t('assignments.whatAre.details.teams')}</li>
    <li data-i18n="assignments.whatAre.details.venue">{t('assignments.whatAre.details.venue')}</li>
    <li data-i18n="assignments.whatAre.details.role">{t('assignments.whatAre.details.role')}</li>
    <li data-i18n="assignments.whatAre.details.league">
      {t('assignments.whatAre.details.league')}
    </li>
  </ul>

  <h2 data-i18n="assignments.viewing.title">{t('assignments.viewing.title')}</h2>

  <p data-i18n="assignments.viewing.description">{t('assignments.viewing.description')}</p>

  <DeviceScreenshot
    id="assignments-list"
    alt={t('assignments.viewing.screenshotAlt')}
    caption={t('assignments.viewing.screenshotCaption')}
    altKey="assignments.viewing.screenshotAlt"
    captionKey="assignments.viewing.screenshotCaption"
    instructions="Take a screenshot of the assignments page showing at least 3-4 games. Show the date grouping, team names, times, and venue info."
  />

  <h2 data-i18n="assignments.details.title">{t('assignments.details.title')}</h2>

  <p data-i18n="assignments.details.description">{t('assignments.details.description')}</p>

  <ul>
    <li data-i18n="assignments.details.items.gameInfo">
      {t('assignments.details.items.gameInfo')}
    </li>
    <li data-i18n="assignments.details.items.venueAddress">
      {t('assignments.details.items.venueAddress')}
    </li>
    <li data-i18n="assignments.details.items.travelTime">
      {t('assignments.details.items.travelTime')}
    </li>
    <li data-i18n="assignments.details.items.otherReferees">
      {t('assignments.details.items.otherReferees')}
    </li>
    <li data-i18n="assignments.details.items.swipeActions">
      {t('assignments.details.items.swipeActions')}
    </li>
  </ul>

  <DeviceScreenshot
    id="assignment-detail"
    alt={t('assignments.details.screenshotAlt')}
    caption={t('assignments.details.screenshotCaption')}
    altKey="assignments.details.screenshotAlt"
    captionKey="assignments.details.screenshotCaption"
    instructions="Take a screenshot of an assignment detail page. Show the game header, venue info, travel time, other referees section, and action buttons at the bottom."
  />

  <h2 data-i18n="assignments.actions.title">{t('assignments.actions.title')}</h2>

  <p data-i18n="assignments.actions.description">{t('assignments.actions.description')}</p>

  <h3 data-i18n="assignments.actions.swipeRight.title">
    {t('assignments.actions.swipeRight.title')}
  </h3>

  <p data-i18n="assignments.actions.swipeRight.description">
    {t('assignments.actions.swipeRight.description')}
  </p>

  <DeviceScreenshot
    id="swipe-right-exchange"
    alt={t('assignments.actions.swipeRight.screenshotAlt')}
    caption={t('assignments.actions.swipeRight.screenshotCaption')}
    altKey="assignments.actions.swipeRight.screenshotAlt"
    captionKey="assignments.actions.swipeRight.screenshotCaption"
    instructions="Take a screenshot showing an assignment card swiped to the right, revealing the green Exchange button on the left side of the card."
  />

  <InfoBox type="warning">
    <p data-i18n="assignments.actions.swipeRight.warning">
      {t('assignments.actions.swipeRight.warning')}
    </p>
  </InfoBox>

  <h3 data-i18n="assignments.actions.swipeLeft.title">
    {t('assignments.actions.swipeLeft.title')}
  </h3>

  <p data-i18n="assignments.actions.swipeLeft.description">
    {t('assignments.actions.swipeLeft.description')}
  </p>

  <ul>
    <li data-i18n="assignments.actions.swipeLeft.validate">
      {t('assignments.actions.swipeLeft.validate')}
    </li>
    <li data-i18n="assignments.actions.swipeLeft.edit">
      {t('assignments.actions.swipeLeft.edit')}
    </li>
  </ul>

  <DeviceScreenshot
    id="assignment-actions"
    alt={t('assignments.actions.swipeLeft.screenshotAlt')}
    caption={t('assignments.actions.swipeLeft.screenshotCaption')}
    altKey="assignments.actions.swipeLeft.screenshotAlt"
    captionKey="assignments.actions.swipeLeft.screenshotCaption"
    instructions="Take a screenshot showing an assignment card swiped to the left, revealing the Validate and Edit buttons on the right side of the card."
  />

  <InfoBox type="tip">
    <p data-i18n="assignments.actions.swipeLeft.tip">
      {t('assignments.actions.swipeLeft.tip')}
    </p>
  </InfoBox>

  <h3 data-i18n="assignments.actions.directions.title">
    {t('assignments.actions.directions.title')}
  </h3>
  <p data-i18n="assignments.actions.directions.description">
    {t('assignments.actions.directions.description')}
  </p>

  <h2 data-i18n="assignments.upcomingPast.title">{t('assignments.upcomingPast.title')}</h2>

  <p data-i18n="assignments.upcomingPast.description">
    {t('assignments.upcomingPast.description')}
  </p>

  <ul>
    <li data-i18n="assignments.upcomingPast.upcoming">{t('assignments.upcomingPast.upcoming')}</li>
    <li data-i18n="assignments.upcomingPast.validationClosed">
      {t('assignments.upcomingPast.validationClosed')}
    </li>
  </ul>

  <InfoBox type="tip">
    <p data-i18n="assignments.upcomingPast.tip">
      {t('assignments.upcomingPast.tip')}
    </p>
  </InfoBox>
</DocLayout>
