openapi: 3.0.3
info:
  title: VolleyManager Referee API
  description: |
    API documentation for the VolleyManager referee management system.
    Captured from observing production behavior at volleymanager.volleyball.ch

    ## Request Format
    All POST endpoints use `application/x-www-form-urlencoded` with nested bracket notation:
    ```
    searchConfiguration[propertyFilters][0][propertyName]=refereeGame.game.startingDateTime
    searchConfiguration[propertyFilters][0][dateRange][from]=2025-12-07T23:00:00.000Z
    ```

    ## Authentication
    Uses cookie-based session authentication via `Neos_Flow_Session` cookie.
    All requests require a `__csrfToken` parameter.

    ## Pagination
    Uses offset/limit (not page-based):
    - `searchConfiguration[offset]` - Starting index (0-based)
    - `searchConfiguration[limit]` - Number of items per page
    - Response includes `totalItemsCount` for total available items

    ## Backend Framework
    Powered by Neos Flow framework. All entities have `__identity` UUID fields.
  version: 1.0.0
  contact:
    name: API Documentation Project
servers:
  - url: https://volleymanager.volleyball.ch/api
    description: Production server
  - url: http://localhost:8080/api
    description: Local mock server (for testing)
security:
  - cookieAuth: []
tags:
  - name: Authentication
    description: Login, logout, and session management
  - name: Assignments
    description: Referee assignment/convocation management
  - name: Compensations
    description: Travel expenses and compensation tracking
  - name: Exchanges
    description: Game exchange and referee substitution marketplace
  - name: Games
    description: Game details and related information
  - name: Profile
    description: User profile and referee data management
  - name: Settings
    description: Configuration and metadata endpoints
  - name: eScoresheet
    description: Electronic scoresheet management for games
  - name: NominationList
    description: Team nomination list management for games
  - name: Search
    description: Person and entity search functionality
  - name: Resources
    description: File upload and resource management
  - name: Notifications
    description: In-app notification management
  - name: Absences
    description: Referee absence management
  - name: RefereeBackup
    description: Referee backup (Pikett) management - on-call referees for NLA/NLB games
paths:
  # ==================== Authentication Endpoints ====================
  /login:
    get:
      tags: [Authentication]
      summary: Display login page
      description: |
        Returns the login page HTML. This is a browser-facing endpoint, not an API endpoint.
        The login page contains:
        - A login form with username/password fields
        - Hidden fields for CSRF protection (__trustedProperties)
        - Hidden referrer fields for redirect handling

        Note: The session cookie `Neos_Flow_Session` is set on first visit.
      operationId: getLoginPage
      security: [] # No auth required
      responses:
        '200':
          description: Login page HTML
          headers:
            Set-Cookie:
              schema:
                type: string
              description: Sets initial session cookie (Neos_Flow_Session)
          content:
            text/html:
              schema:
                type: string
  /sportmanager.security/authentication/authenticate:
    post:
      tags: [Authentication]
      summary: Authenticate user
      description: |
        Authenticates a user with username and password.

        **Flow:**
        1. User visits `/login` page (GET) - receives initial session cookie
        2. User submits credentials to this endpoint (POST)
        3. On success: 303 redirect to `/sportmanager.volleyball/main/dashboard`
        4. On failure: 303 redirect back to `/login` with error

        **Important:** This uses Neos Flow's authentication token format.
        The username/password are sent in a deeply nested structure:
        `__authentication[Neos][Flow][Security][Authentication][Token][UsernamePassword][username]`

        **Session Handling:**
        - On successful login, a new session cookie is issued
        - The old session cookie is invalidated
      operationId: authenticate
      security: [] # No auth required (this IS the auth)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AuthenticationRequest'
      responses:
        '303':
          description: |
            **Success:** Redirect to dashboard.
            This response indicates successful authentication.
          headers:
            Location:
              schema:
                type: string
              description: Redirect to dashboard
              example: "https://volleymanager.volleyball.ch/sportmanager.volleyball/main/dashboard"
            Set-Cookie:
              schema:
                type: string
              description: |
                New session cookie.
                Format: `Neos_Flow_Session=<session-id>; Path=/; HttpOnly`
        '200':
          description: |
            **Failure:** Login page HTML with error message.
            This response indicates failed authentication (invalid credentials).

            The response body contains the full login page HTML with an embedded
            Vuetify snackbar error component:
            ```html
            <v-snackbar :value="true" color="error" :timeout="5000">
                Authentifizierung fehlgeschlagen!
            </v-snackbar>
            ```

            Note: A new session cookie is still issued (session rotation on failure).
          headers:
            Set-Cookie:
              schema:
                type: string
              description: New session cookie (rotated even on failure)
          content:
            text/html:
              schema:
                type: string
                description: Login page HTML with embedded error message
  /logout:
    get:
      tags: [Authentication]
      summary: Log out user
      description: |
        Logs out the current user by invalidating their session.

        **Flow:**
        1. User visits `/logout` (GET) with session cookie
        2. Server invalidates the session
        3. Server responds with 303 redirect to `/login`

        **Note:** The session cookie is NOT explicitly cleared in the response
        (no `Set-Cookie` with expiry). The session is invalidated server-side.
      operationId: logout
      responses:
        '303':
          description: Redirect to login page after logout
          headers:
            Location:
              schema:
                type: string
              description: Always redirects to `/login`
              example: "https://volleymanager.volleyball.ch/login"
  # ==================== Party/Association Switching ====================
  /sportmanager.security/api\party/switchRoleAndAttribute:
    put:
      tags: [Authentication]
      summary: Switch active association/role
      description: |
        Switches the user's active association (party) on the server.
        This changes which association's data is returned by subsequent API calls.

        **How it works:**
        1. User has multiple associations (e.g., referee for SV, SVRBA, SVRZ)
        2. Client sends the AttributeValue UUID of the desired association
        3. Server updates the session's active party
        4. Subsequent API calls return data for the new association

        **Usage in VolleyKit:**
        Called when user selects a different association in the dropdown.
        After switching, all cached queries should be invalidated to refetch data.
      operationId: switchRoleAndAttribute
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - attributeValueAsArray[0]
                - __csrfToken
              properties:
                attributeValueAsArray[0]:
                  type: string
                  format: uuid
                  description: The __identity UUID of the AttributeValue (occupation) to switch to
                  example: "00000000-0000-0000-0000-000000000001"
                __csrfToken:
                  type: string
                  description: CSRF token from the session
                  example: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
      responses:
        '200':
          description: Successfully switched association
          content:
            application/json:
              schema:
                type: object
                description: Empty response or updated party data
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden - invalid AttributeValue or not allowed to switch
  # ==================== Notification Endpoints ====================
  /sportmanager.notificationcenter/api\inappnotification/getCountOfUnreadNotificationsForActiveParty:
    get:
      tags: [Notifications]
      summary: Get count of unread notifications
      description: |
        Returns the count of unread in-app notifications for the currently active party.
        This endpoint is called periodically (every 15 seconds by default) to update the notification badge.
      operationId: getCountOfUnreadNotifications
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: Number of unread notifications
                    example: 0
        '401':
          $ref: '#/components/responses/Unauthorized'
  # ==================== Assignment Endpoints ====================
  /indoorvolleyball.refadmin/api\refereeconvocation/searchMyRefereeConvocations:
    post:
      tags: [Assignments]
      summary: Search referee assignments
      description: Returns list of referee assignments for the authenticated user
      operationId: searchMyRefereeConvocations
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AssignmentsSearchRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignmentsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /indoorvolleyball.refadmin/api\refereeconvocationcompensation/search:
    post:
      tags: [Compensations]
      summary: Search referee compensations
      description: Returns list of compensation/travel expense records
      operationId: searchCompensations
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CompensationsSearchRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompensationsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /indoorvolleyball.refadmin/api\refereegameexchange/search:
    post:
      tags: [Exchanges]
      summary: Search game exchanges
      description: Returns list of available referee position exchanges
      operationId: searchGameExchanges
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ExchangesSearchRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /indoorvolleyball.refadmin/api\refereegameexchange:
    put:
      tags: [Exchanges]
      summary: Apply for or withdraw from exchange
      description: Apply to take over a referee position or withdraw an application
      operationId: manageExchangeApplication
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [__identity, __csrfToken]
              properties:
                __identity:
                  type: string
                  format: uuid
                  description: Exchange ID
                __csrfToken:
                  type: string
                apply:
                  type: string
                  enum: ["1"]
                  description: Set to "1" to apply for exchange
                withdrawApplication:
                  type: string
                  enum: ["1"]
                  description: Set to "1" to withdraw application
      responses:
        '200':
          description: Operation successful
        '401':
          $ref: '#/components/responses/Unauthorized'
  /sportmanager.indoorvolleyball/api\indoorseason/getActiveIndoorSeason:
    get:
      tags: [Settings]
      summary: Get active indoor season
      operationId: getActiveSeason
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Season'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /indoorvolleyball.refadmin/api\refereeassociationsettings/getRefereeAssociationSettingsOfActiveParty:
    get:
      tags: [Settings]
      summary: Get referee association settings
      operationId: getAssociationSettings
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssociationSettings'
  # ==================== Referee Convocation Endpoints ====================
  /indoorvolleyball.refadmin/api\refereeconvocation/showWithNestedObjects:
    get:
      tags: [Assignments]
      summary: Get referee convocation details with nested objects
      description: |
        Returns detailed convocation information with specified nested properties.
        This endpoint provides MORE info than the game details endpoints, including:
        - Referee dispatcher (convocateur) contact info
        - Referee postal addresses
        - Association IDs

        Used by the "Informations de convocation" dialog in the Assignments tab.

        Makes additional parallel calls to:
        - getTeamContactInfosByGame
        - getRefereeGameByGame
      operationId: showRefereeConvocationWithNestedObjects
      parameters:
        - name: refereeConvocation[__identity]
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: The convocation identifier
          example: "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb"
        - name: propertyRenderConfiguration
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
          description: |
            List of property paths to include in response.

            Common properties for each referee position (FirstHeadReferee, SecondHeadReferee, etc.):
            - refereeGame.activeRefereeConvocation{Position}.indoorAssociationReferee.indoorReferee.person.primaryPostalAddress
            - refereeGame.activeRefereeConvocation{Position}.indoorAssociationReferee.indoorReferee.person.primaryEmailAddress
            - refereeGame.activeRefereeConvocation{Position}.indoorAssociationReferee.indoorReferee.person.primaryPhoneNumber

            Referee dispatcher (convocateur):
            - refereeSelectionBy.primaryEmailAddress
            - refereeSelectionBy.primaryPhoneNumber

            Other data:
            - refereeMatchingStatistic
            - referee.person.primaryPostalAddress.geographicalLocation
            - refereeGame.game.hall.primaryPostalAddress.geographicalLocation
            - refereeGame.game.startingDateTime
            - refereeGame.game.encounter.teamHome
            - refereeGame.game.encounter.teamAway
            - refereeGame.game.group.phase.league.leagueCategory
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefereeConvocationDetails'
        '401':
          $ref: '#/components/responses/Unauthorized'
  # ==================== Compensation Edit Endpoints ====================
  /indoorvolleyball.refadmin/api\refereeconvocation/findConvocationCompensationSettingsForRefereeConvocation:
    get:
      tags: [Compensations]
      summary: Find compensation settings for a convocation
      description: Gets the compensation settings specific to this convocation
      operationId: findConvocationCompensationSettings
      parameters:
        - name: refereeConvocation
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: The convocation identifier
          example: "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvocationCompensationSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /indoorvolleyball.refadmin/api\associationcompensationsettings/getAssociationCompensationSettingsByRefereeConvocation:
    get:
      tags: [Compensations]
      summary: Get association compensation settings by convocation
      description: Gets the association-level compensation settings that apply to this convocation
      operationId: getAssociationCompensationSettingsByConvocation
      parameters:
        - name: refereeConvocation
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: The convocation identifier
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssociationCompensationSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /indoorvolleyball.refadmin/api\convocationcompensation/showWithNestedObjects:
    get:
      tags: [Compensations]
      summary: Get compensation details with nested objects
      description: Gets the current compensation record with its additional compensations
      operationId: showConvocationCompensationWithNestedObjects
      parameters:
        - name: convocationCompensation[__identity]
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: The compensation record identifier
          example: "cccccccc-cccc-cccc-cccc-cccccccccccc"
        - name: propertyRenderConfiguration
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
          description: |
            Properties to include:
            - additionalCompensations
            - flexibleAdditionalCompensations
            - lockPayoutCentralPayoutCompensationBy
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvocationCompensationDetailed'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /indoorvolleyball.refadmin/api\flexibleadditionalcompensation/search:
    post:
      tags: [Compensations]
      summary: Search flexible additional compensations
      description: |
        Searches for flexible additional compensation entries linked to a specific convocation compensation.
        Used in the compensation edit dialog to display existing flexible compensations.
      operationId: searchFlexibleAdditionalCompensations
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                searchConfiguration[propertyFilters][0][propertyName]:
                  type: string
                  description: Property to filter on
                  example: "convocationCompensation.Persistence_Object_Identifier"
                searchConfiguration[propertyFilters][0][values][0]:
                  type: string
                  format: uuid
                  description: The convocation compensation ID to filter by
                searchConfiguration[customFilters]:
                  type: string
                  description: Custom filter string (usually empty)
                searchConfiguration[propertyOrderings][0][propertyName]:
                  type: string
                  description: Property to order by
                  example: "name"
                searchConfiguration[propertyOrderings][0][descending]:
                  type: boolean
                  example: false
                searchConfiguration[propertyOrderings][0][isSetByUser]:
                  type: boolean
                  example: true
                searchConfiguration[offset]:
                  type: integer
                  example: 0
                searchConfiguration[limit]:
                  type: integer
                  example: 10
                searchConfiguration[textSearchOperator]:
                  type: string
                  enum: [AND, OR]
                  example: AND
                propertyRenderConfiguration[0]:
                  type: string
                  example: "name"
                propertyRenderConfiguration[1]:
                  type: string
                  example: "type"
                propertyRenderConfiguration[2]:
                  type: string
                  example: "sumFormatted"
                __csrfToken:
                  type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlexibleCompensationsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /indoorvolleyball.refadmin/api\additionalcompensation:
    get:
      tags: [Compensations]
      summary: Get additional compensation types
      description: Returns list of available additional compensation types
      operationId: getAdditionalCompensationTypes
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdditionalCompensationType'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /indoorvolleyball.refadmin/api\convocationcompensation:
    put:
      tags: [Compensations]
      summary: Update convocation compensation
      description: |
        Updates the compensation settings for a convocation.
        Used by the "Editer les frais et l'indemnité" dialog save action.

        IMPORTANT: The `__identity` field must be nested inside `convocationCompensation`,
        not at the root level. Example: `convocationCompensation[__identity]=uuid`
      operationId: updateConvocationCompensation
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: ["convocationCompensation[__identity]", __csrfToken]
              properties:
                convocationCompensation[__identity]:
                  type: string
                  format: uuid
                  description: The compensation record identifier (nested inside convocationCompensation)
                  example: "cccccccc-cccc-cccc-cccc-cccccccccccc"
                convocationCompensation[distanceInMetres]:
                  type: integer
                  description: Distance in metres for travel expense calculation
                  example: 56000
                convocationCompensation[correctionReason]:
                  type: string
                  description: Reason for any correction to the compensation
                  example: "Ich wohne in Oberengstringen"
                convocationCompensation[payTravelExpenses]:
                  type: string
                  enum: ["0", "1"]
                  description: Whether travel expenses should be paid
                convocationCompensation[travelExpensesPercentageWeighting]:
                  type: number
                  description: Percentage of travel expenses claimable (0-1)
                  example: 1
                __csrfToken:
                  type: string
      responses:
        '200':
          description: Compensation updated successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /indoorvolleyball.refadmin/refereestatementofexpenses/downloadrefereestatementofexpenses:
    get:
      tags: [Compensations]
      summary: Download referee statement of expenses PDF
      description: |
        Downloads a PDF document containing the referee statement of expenses (Quittung) for a specific convocation.

        The PDF includes:
        - Match details (date, teams, league)
        - Referee compensation amounts
        - Travel expenses
        - Additional compensations

        **Response Headers:**
        - `content-disposition: attachment; filename="YYYY-MM-DD_HH-MM_Quittung_fuer_Spiel_XXXXXX.pdf"`
        - `content-type: application/pdf; charset=utf-8`

        **Note:** This endpoint does NOT use the `/api/` prefix in the path unlike most other API endpoints.
        The endpoint is accessed directly from the compensation index page.
      operationId: downloadRefereeStatementOfExpenses
      parameters:
        - name: refereeConvocation
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: The referee convocation identifier
          example: "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa"
      responses:
        '200':
          description: PDF document containing referee statement of expenses
          headers:
            content-disposition:
              schema:
                type: string
              description: |
                Attachment filename with timestamp and game number.
                Format: `attachment; filename="YYYY-MM-DD_HH-MM_Quittung_fuer_Spiel_XXXXXX.pdf"`
              example: 'attachment; filename="2025-01-15_14-30_Quittung_fuer_Spiel_123456.pdf"'
            content-description:
              schema:
                type: string
              description: Always "File Transfer"
            content-transfer-encoding:
              schema:
                type: string
              description: Always "binary"
          content:
            application/pdf:
              schema:
                type: string
                format: binary
                description: The PDF document binary data
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Convocation not found or user not authorized to access this convocation
  # ==================== Game Details Endpoints ====================
  /sportmanager.indoorvolleyball/api\game/getTeamContactInfosByGame:
    get:
      tags: [Games]
      summary: Get team contact information
      description: Returns team manager contact info (names, emails, phones) for both teams
      operationId: getTeamContactInfosByGame
      parameters:
        - name: game
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: The game identifier
          example: "dddddddd-dddd-dddd-dddd-dddddddddddd"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamContactInfoResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /sportmanager.indoorvolleyball/api\game/getRefereeGameByGame:
    get:
      tags: [Games]
      summary: Get referee game information
      description: Returns referee assignment details for a specific game
      operationId: getRefereeGameByGame
      parameters:
        - name: game
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: The game identifier
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefereeGame'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /sportmanager.indoorvolleyball/api\game/showWithNestedObjects:
    get:
      tags: [Games]
      summary: Get game details with nested objects
      description: |
        Returns detailed game information with specified nested properties.
        Use propertyRenderConfiguration[] to specify which fields to include.
      operationId: showGameWithNestedObjects
      parameters:
        - name: game[__identity]
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: The game identifier
        - name: propertyRenderConfiguration
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
          description: |
            List of property paths to include in response.
            Common properties:
            - number
            - group.phase.league.leagueCategory.displayNameWithManagingAssociationShortName
            - group.phase.league.displayName
            - group.phase.league.genderUnicodeSign
            - startingDateTime
            - hall.displayName
            - hall.primaryPostalAddress.combinedAddress
            - hall.primaryPostalAddress.geographicalLocation.plusCode
            - encounter.teamHome.displayName
            - encounter.teamAway.displayName
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameDetails'
        '401':
          $ref: '#/components/responses/Unauthorized'
  # ==================== Profile Endpoints ====================
  /sportmanager.volleyball/api\person/showWithNestedObjects:
    get:
      tags: [Profile]
      summary: Get person details with permissions
      description: |
        Retrieves the person data with their permissions.
        Used on the profile page to load user personal data.
      operationId: showPersonWithNestedObjects
      parameters:
        - name: person[__identity]
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: The person identifier
          example: "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa"
        - name: propertyRenderConfiguration
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
          description: Properties to include (e.g., "_permissions")
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  person:
                    $ref: '#/components/schemas/PersonDetails'
                required:
                  - person
        '401':
          $ref: '#/components/responses/Unauthorized'
  /indoorvolleyball.refadmin/api\indoorreferee/getIndoorRefereeByActivePerson:
    get:
      tags: [Profile]
      summary: Get referee profile data by person
      description: |
        Retrieves comprehensive referee-specific data for the specified person.
        This endpoint returns detailed referee profile information including:

        - **Referee identification**: refereeInformation, jerseyNumber, validated status
        - **Certifications**: dateOfFirstRefereeCertification, hasLinesmanCertification, isInternationalReferee
        - **Contact info**: mobilePhoneNumbers, fixnetPhoneNumbers, privatePostalAddresses, businessPostalAddresses
        - **Payment info**: paymentConnections array with full IBAN, payee, and postal address details
        - **Transportation**: transportationMode (car, train, public_transport)
        - **Settings**: showPhoneNumberForTwintPaymentOnRefereeStatementOfExpenses
        - **Permissions**: _permissions object indicating CRUD permissions for each field

        **Note**: The response includes nested payment connection data with full payeePostalAddress
        objects containing country, countrySubdivision, and geographicalLocation details.
      operationId: getIndoorRefereeByActivePerson
      parameters:
        - name: person
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: The person identifier (UUID)
          example: "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa"
      responses:
        '200':
          description: |
            Referee profile data retrieved successfully.
            Returns the full IndoorReferee object with all available fields.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndoorReferee'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /sportmanager.core/api\country:
    get:
      tags: [Settings]
      summary: Get country list
      description: Returns list of countries (used for nationality dropdowns)
      operationId: getCountries
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Country'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /indoorvolleyball.refadmin/api\refereeassociationsettings/isRefereeDataManagementAllowedForActiveParty:
    get:
      tags: [Profile]
      summary: Check referee data management permission
      description: Checks if the active user is allowed to manage referee data
      operationId: isRefereeDataManagementAllowed
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
  /indoorvolleyball.refadmin/api\indoorassociationreferee/getIndoorAssociationRefereeOfActiveParty:
    get:
      tags: [Profile]
      summary: Get association referee for active party
      description: Gets the association referee record for the current user
      operationId: getIndoorAssociationRefereeOfActiveParty
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndoorAssociationReferee'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /indoorvolleyball.refadmin/api\indoorassociationrefereeseasonalrefereedata/getForIndoorAssociationRefereeForCurrentSeason:
    post:
      tags: [Profile]
      summary: Get seasonal referee data
      description: Retrieves seasonal referee data for the current season
      operationId: getSeasonalRefereeData
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                __csrfToken:
                  type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeasonalRefereeData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /indoorvolleyball.refadmin/api\refereemandate/getRefereeMandatesByManagingAssociation:
    get:
      tags: [Profile]
      summary: Get referee mandates
      description: Retrieves referee mandates for a specific managing association
      operationId: getRefereeMandatesByManagingAssociation
      parameters:
        - name: managingAssociation
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: The managing association identifier
          example: "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RefereeMandate'
        '401':
          $ref: '#/components/responses/Unauthorized'
  # ==================== eScoresheet Endpoints ====================
  /sportmanager.indoorvolleyball/api\scoresheet:
    put:
      tags: [eScoresheet]
      summary: Update scoresheet
      description: |
        Updates an existing scoresheet. Used to save scoresheet data before finalization.
        The scoresheet must already exist (created when accessing the eScoresheet interface).
      operationId: updateScoresheet
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ScoresheetUpdateRequest'
      responses:
        '200':
          description: Scoresheet updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scoresheet'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /sportmanager.indoorvolleyball/api\scoresheet/validateScoresheet:
    post:
      tags: [eScoresheet]
      summary: Validate scoresheet
      description: |
        Validates a scoresheet before finalization.
        Returns validation issues that must be addressed.
      operationId: validateScoresheet
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ScoresheetValidateRequest'
      responses:
        '200':
          description: Validation results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoresheetValidation'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /sportmanager.indoorvolleyball/api\scoresheet/finalize:
    post:
      tags: [eScoresheet]
      summary: Finalize scoresheet
      description: |
        Finalizes and closes a scoresheet after the game.
        Once finalized, the scoresheet becomes read-only.
        A scoresheet file (JPEG, PNG, or PDF) must be attached before finalization.
      operationId: finalizeScoresheet
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ScoresheetFinalizeRequest'
      responses:
        '200':
          description: Scoresheet finalized successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scoresheet'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  # ==================== Nomination List Endpoints ====================
  /sportmanager.indoorvolleyball/api\nominationlist:
    put:
      tags: [NominationList]
      summary: Update nomination list
      description: |
        Updates an existing nomination list with player nominations, coach assignments, etc.
        Used by team responsibles and referees to manage the team lineup for a game.
      operationId: updateNominationList
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NominationListUpdateRequest'
      responses:
        '200':
          description: Nomination list updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NominationList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /sportmanager.indoorvolleyball/api\nominationlist/finalize:
    post:
      tags: [NominationList]
      summary: Finalize nomination list
      description: |
        Finalizes and closes a nomination list.
        Once finalized by the referee, the list becomes read-only for the team.
      operationId: finalizeNominationList
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NominationListFinalizeRequest'
      responses:
        '200':
          description: Nomination list finalized successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NominationListFinalizeResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /sportmanager.indoorvolleyball/api\nominationlist/getPossibleIndoorPlayerNominationsForNominationList:
    post:
      tags: [NominationList]
      summary: Get possible player nominations
      description: |
        Returns a list of players that can be nominated for the given nomination list.
        Filters by team membership and gender based on the parameters.
      operationId: getPossibleIndoorPlayerNominations
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [nominationList, __csrfToken]
              properties:
                nominationList:
                  type: string
                  format: uuid
                  description: The nomination list identifier
                onlyFromMyTeam:
                  type: string
                  enum: ["true", "false"]
                  description: Only show players from the team
                  example: "true"
                onlyRelevantGender:
                  type: string
                  enum: ["true", "false"]
                  description: Only show players matching the league gender
                  example: "true"
                __csrfToken:
                  type: string
      responses:
        '200':
          description: List of possible player nominations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PossibleNominationsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /sportmanager.indoorvolleyball/api\nominationlist/getPersonsWithValidatedPlayerOrCoachOrRefereeLicenseInActiveSeason:
    get:
      tags: [NominationList]
      summary: Get persons with valid licenses
      description: |
        Returns all persons who have a validated player, coach, or referee license
        in the active season. Used for autocomplete when adding coaches or referees.
      operationId: getPersonsWithValidatedLicense
      responses:
        '200':
          description: List of persons with valid licenses
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PersonWithLicense'
        '401':
          $ref: '#/components/responses/Unauthorized'
  # ==================== Search Endpoints ====================
  /sportmanager.core/api\elasticsearchperson/search:
    get:
      tags: [Search]
      summary: Search persons
      description: |
        Searches for persons by association ID, name, or year of birth.
        Uses Elasticsearch for fast fuzzy matching.
        Used for autocomplete fields when adding referees or coaches.
      operationId: searchPersons
      parameters:
        - name: searchConfiguration[propertyFilters][0][propertyName]
          in: query
          schema:
            type: string
          example: "associationId"
        - name: searchConfiguration[propertyFilters][0][text]
          in: query
          schema:
            type: string
          description: Search text for association ID
        - name: searchConfiguration[propertyFilters][1][propertyName]
          in: query
          schema:
            type: string
          example: "firstName"
        - name: searchConfiguration[propertyFilters][1][text]
          in: query
          schema:
            type: string
          description: Search text for first name
        - name: searchConfiguration[propertyFilters][2][propertyName]
          in: query
          schema:
            type: string
          example: "lastName"
        - name: searchConfiguration[propertyFilters][2][text]
          in: query
          schema:
            type: string
          description: Search text for last name
        - name: searchConfiguration[propertyFilters][3][propertyName]
          in: query
          schema:
            type: string
          example: "yearOfBirth"
        - name: searchConfiguration[propertyFilters][3][text]
          in: query
          schema:
            type: string
          description: Search text for year of birth
        - name: searchConfiguration[offset]
          in: query
          schema:
            type: integer
            default: 0
        - name: searchConfiguration[limit]
          in: query
          schema:
            type: integer
            default: 50
        - name: propertyRenderConfiguration
          in: query
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
          description: Properties to include (e.g., "birthday")
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonSearchResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  # ==================== Resource Management Endpoints ====================
  /sportmanager.resourcemanagement/api\persistentresource/upload:
    post:
      tags: [Resources]
      summary: Upload file
      description: |
        Uploads a file (scoresheet image or PDF) and returns a resource reference.
        The returned resource can be attached to entities like scoresheets.
        Supported formats: JPEG, PNG, PDF. Maximum file size: 10 MB.
      operationId: uploadResource
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                resource:
                  type: string
                  format: binary
                  description: The file to upload
                __csrfToken:
                  type: string
      responses:
        '200':
          description: File uploaded successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileResource'
        '401':
          $ref: '#/components/responses/Unauthorized'
  # ==================== Filter Settings Endpoints ====================
  /sportmanager.core/api\filtersettings/listFilterSettingsForCurrentList:
    get:
      tags: [Settings]
      summary: Get filter settings for a data table
      description: |
        Returns saved filter settings for a specific data table.
        Used to restore user's filter preferences.
      operationId: getFilterSettings
      parameters:
        - name: dataTableId
          in: query
          required: true
          schema:
            type: string
          description: |
            The data table identifier, e.g.:
            - editNominationList.indoorPlayerNominations
            - editNominationList.indoorPlayerNominationWhichCanBeAddedList
          example: "editNominationList.indoorPlayerNominations"
      responses:
        '200':
          description: Filter settings
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FilterSetting'
        '401':
          $ref: '#/components/responses/Unauthorized'
  # ==================== Referee Absence Endpoints ====================
  /indoorvolleyball.refadmin/api\refereeabsence/getForbiddenBlockageDateRanges:
    get:
      tags: [Absences]
      summary: Get forbidden date ranges for absence creation
      description: |
        Returns the valid date range for creating absences and any forbidden date ranges.
        Used to validate absence creation and show available dates in the calendar.
      operationId: getForbiddenBlockageDateRanges
      responses:
        '200':
          description: Forbidden blockage date ranges
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenBlockageDateRanges'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /indoorvolleyball.refadmin/api\refereeabsence/search:
    post:
      tags: [Absences]
      summary: Search referee absences
      description: |
        Search for referee absences with pagination and filtering.
        Returns a list of absence entries for the current referee.
      operationId: searchRefereeAbsences
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                __csrfToken:
                  type: string
                  description: CSRF token for request validation
                searchConfiguration[propertyFilters][0][propertyName]:
                  type: string
                  example: "fromDate"
                searchConfiguration[offset]:
                  type: integer
                  example: 0
                searchConfiguration[limit]:
                  type: integer
                  example: 25
      responses:
        '200':
          description: Referee absences search result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefereeAbsenceSearchResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
  # ==================== Referee Backup (Pikett) Endpoints ====================
  # Note: The backslash in paths is intentional - VolleyManager uses this
  # unusual URL pattern (Neos Flow framework namespace separator)
  /indoorvolleyball.refadmin/api\refereeconvocationrefereebackup/search:
    post:
      tags: [RefereeBackup]
      summary: Search referee backups (Pikett)
      description: |
        Search for referee backup assignments (Pikett - on-call referees) for NLA and NLB games.
        Returns a list of dates with assigned backup referees for each league category.

        **Use Case:**
        This endpoint is used by referee administrators to view and manage the on-call
        referee schedule. Backup referees (Pikett) are available to step in if a
        scheduled referee cannot attend a game.

        **Response Structure:**
        Each item represents a date with:
        - `nlaReferees`: Backup referees for NLA (National League A) games
        - `nlbReferees`: Backup referees for NLB (National League B) games
        - `joinedNlaReferees`/`joinedNlbReferees`: Pre-formatted display strings with contact info

        **Custom Filters:**
        - `myReferees`: Filter to only show referees managed by the current association
      operationId: searchRefereeBackups
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RefereeBackupSearchRequest'
      responses:
        '200':
          description: Referee backup search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefereeBackupSearchResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: Neos_Flow_Session
      description: Session cookie obtained after login
  responses:
    Unauthorized:
      description: Not authenticated - session expired or invalid
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Session expired. Please log in again."
    Forbidden:
      description: Authenticated but not authorized for this resource
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Access denied"
  schemas:
    # ==================== Authentication Schemas ====================
    AuthenticationRequest:
      type: object
      description: |
        Login request using Neos Flow's authentication format.
        All fields use nested bracket notation when URL-encoded.

        **URL-encoded example:**
        ```
        __referrer%5B%40package%5D=SportManager.Volleyball&
        __referrer%5B%40controller%5D=Public&
        __referrer%5B%40action%5D=login&
        __authentication%5BNeos%5D%5BFlow%5D%5BSecurity%5D%5BAuthentication%5D%5BToken%5D%5BUsernamePassword%5D%5Busername%5D=myuser&
        __authentication%5BNeos%5D%5BFlow%5D%5BSecurity%5D%5BAuthentication%5D%5BToken%5D%5BUsernamePassword%5D%5Bpassword%5D=mypass
        ```
      required:
        - __authentication[Neos][Flow][Security][Authentication][Token][UsernamePassword][username]
        - __authentication[Neos][Flow][Security][Authentication][Token][UsernamePassword][password]
      properties:
        __referrer[@package]:
          type: string
          description: Referrer package name
          example: "SportManager.Volleyball"
        __referrer[@subpackage]:
          type: string
          description: Referrer subpackage (usually empty)
          example: ""
        __referrer[@controller]:
          type: string
          description: Referrer controller name
          example: "Public"
        __referrer[@action]:
          type: string
          description: Referrer action name
          example: "login"
        __referrer[arguments]:
          type: string
          description: |
            Serialized referrer arguments with HMAC signature.
            Format: Base64-encoded serialized array + HMAC hash.
            This is generated by the login page and should be passed through unchanged.
          example: "YTowOnt9<hmac-signature>"
        __trustedProperties:
          type: string
          description: |
            HMAC-signed list of trusted properties.
            Generated by the login page for CSRF protection.
            Format: Serialized PHP array + HMAC signature.
          example: "a:0:{}<hmac-signature>"
        __authentication[Neos][Flow][Security][Authentication][Token][UsernamePassword][username]:
          type: string
          description: User's login username
          example: "my_username"
        __authentication[Neos][Flow][Security][Authentication][Token][UsernamePassword][password]:
          type: string
          format: password
          description: User's login password
          example: "my_password"
    # ==================== Request Schemas ====================
    AssignmentsSearchRequest:
      type: object
      description: |
        Search request for assignments. Uses nested bracket notation when URL-encoded.
        Example: searchConfiguration[propertyFilters][0][propertyName]=refereeGame.game.startingDateTime
      properties:
        searchConfiguration:
          $ref: '#/components/schemas/SearchConfiguration'
        propertyRenderConfiguration:
          type: array
          description: List of property paths to include in response
          items:
            type: string
          example:
            - refereeConvocationStatus
            - refereeGame.game.startingDateTime
            - refereeGame.game.encounter.teamHome.name
        __csrfToken:
          type: string
          description: CSRF token for request validation
          example: "<csrf-token>"
    CompensationsSearchRequest:
      type: object
      properties:
        searchConfiguration:
          allOf:
            - $ref: '#/components/schemas/SearchConfiguration'
            - type: object
              properties:
                customFilters:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        example: "archivedRefereeConvocations"
        propertyRenderConfiguration:
          type: array
          items:
            type: string
        __csrfToken:
          type: string
    ExchangesSearchRequest:
      type: object
      properties:
        searchConfiguration:
          $ref: '#/components/schemas/SearchConfiguration'
        propertyRenderConfiguration:
          type: array
          items:
            type: string
        __csrfToken:
          type: string
    RefereeBackupSearchRequest:
      type: object
      description: |
        Search request for referee backups (Pikett).
        Typically filtered by date range and the `myReferees` custom filter.
      properties:
        searchConfiguration:
          allOf:
            - $ref: '#/components/schemas/SearchConfiguration'
            - type: object
              properties:
                customFilters:
                  type: array
                  description: Custom filters for the search
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: Filter name
                        enum: [myReferees]
                        example: "myReferees"
        propertyRenderConfiguration:
          type: array
          description: |
            Properties to include in the response. Common properties:
            - date
            - weekday
            - calendarWeek
            - joinedNlaReferees
            - joinedNlbReferees
            - nlaReferees.*.indoorReferee.person.primaryEmailAddress
            - nlbReferees.*.indoorReferee.person.primaryEmailAddress
            - nlaReferees.*.indoorReferee.person.primaryPhoneNumber
            - nlbReferees.*.indoorReferee.person.primaryPhoneNumber
          items:
            type: string
          example:
            - "date"
            - "weekday"
            - "calendarWeek"
            - "joinedNlaReferees"
            - "joinedNlbReferees"
        __csrfToken:
          type: string
          description: CSRF token for request validation
    SearchConfiguration:
      type: object
      properties:
        propertyFilters:
          type: array
          items:
            $ref: '#/components/schemas/PropertyFilter'
        propertyOrderings:
          type: array
          items:
            $ref: '#/components/schemas/PropertyOrdering'
        offset:
          type: integer
          minimum: 0
          default: 0
          description: Starting index for pagination
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
          description: Number of items to return
        textSearchOperator:
          type: string
          enum: [AND, OR]
          default: AND
    PropertyFilter:
      type: object
      properties:
        propertyName:
          type: string
          description: Dot-notation path to the property
          example: "refereeGame.game.startingDateTime"
        dateRange:
          type: object
          properties:
            from:
              type: string
              format: date-time
              example: "2025-12-07T23:00:00.000Z"
            to:
              type: string
              format: date-time
              example: "2025-12-15T22:59:59.000Z"
        values:
          type: array
          description: Filter by specific values
          items:
            type: string
          example: ["NOT_NULL"]
        enumValues:
          type: array
          description: Filter by enum values (for status fields)
          items:
            type: string
          example: ["open"]
    PropertyOrdering:
      type: object
      properties:
        propertyName:
          type: string
          example: "refereeGame.game.startingDateTime"
        descending:
          type: boolean
          default: false
        isSetByUser:
          type: boolean
          default: true
    # ==================== Response Schemas ====================
    AssignmentsResponse:
      type: object
      required: [items, totalItemsCount]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Assignment'
        totalItemsCount:
          type: integer
          minimum: 0
          example: 2
    Assignment:
      type: object
      required: [__identity, refereeGame, refereeConvocationStatus, refereePosition]
      properties:
        __identity:
          type: string
          format: uuid
          example: "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb"
        refereeGame:
          $ref: '#/components/schemas/RefereeGame'
        refereeConvocationStatus:
          type: string
          enum: [active, cancelled, archived]
          example: "active"
        refereePosition:
          $ref: '#/components/schemas/RefereePosition'
        confirmationStatus:
          type: string
          nullable: true
        confirmationDate:
          type: string
          format: date-time
          nullable: true
        isOpenEntryInRefereeGameExchange:
          type: boolean
        hasLastMessageToReferee:
          type: boolean
        hasLinkedDoubleConvocation:
          type: boolean
        linkedDoubleConvocationGameNumberAndRefereePosition:
          type: string
          nullable: true
        convocationCompensation:
          type: object
          description: |
            Compensation lock flags for editability check.
            Only populated when convocationCompensation properties are requested.
          properties:
            paymentDone:
              type: boolean
              description: Whether payment has been processed
            lockPayoutOnSiteCompensation:
              type: boolean
              description: Whether on-site payout is locked (regional associations)
        _permissions:
          $ref: '#/components/schemas/Permissions'
    CompensationsResponse:
      type: object
      required: [items, totalItemsCount]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CompensationRecord'
        totalItemsCount:
          type: integer
          minimum: 0
          example: 2
    CompensationRecord:
      type: object
      required: [__identity, refereeGame, convocationCompensation, refereeConvocationStatus, refereePosition]
      properties:
        __identity:
          type: string
          format: uuid
        refereeGame:
          $ref: '#/components/schemas/RefereeGame'
        convocationCompensation:
          $ref: '#/components/schemas/ConvocationCompensation'
        indoorAssociationReferee:
          $ref: '#/components/schemas/IndoorAssociationReferee'
        refereeConvocationStatus:
          type: string
          enum: [active, cancelled, archived]
        compensationDate:
          type: string
          format: date-time
          description: Date used for compensation calculation (usually game start time)
        refereePosition:
          $ref: '#/components/schemas/RefereePosition'
        _permissions:
          $ref: '#/components/schemas/Permissions'
    ConvocationCompensation:
      type: object
      description: Compensation details for a referee assignment
      properties:
        __identity:
          type: string
          format: uuid
        paymentDone:
          type: boolean
          description: Whether payment has been processed
        payGameCompensation:
          type: boolean
          description: Whether game fee should be paid
        gameCompensation:
          type: integer
          description: Game fee in CHF (integer)
          example: 50
        payTravelExpenses:
          type: boolean
        travelExpenses:
          type: integer
          description: Travel reimbursement in CHF (integer)
          example: 20
        publicTransportExpenses:
          type: integer
          nullable: true
          description: Public transport costs if applicable
        travelExpensesPercentageWeighting:
          type: number
          minimum: 0
          maximum: 1
          description: Weighting factor for travel expenses
          example: 1
        distanceInMetres:
          type: integer
          description: Calculated travel distance in metres
          example: 96317
        transportationMode:
          type: string
          enum: [car, train, public_transport, other]
          nullable: true
          example: "car"
        paymentValueDate:
          type: string
          format: date
          nullable: true
          description: Date when payment was made
        paymentUpdatedByAssociation:
          type: object
          nullable: true
          properties:
            __identity:
              type: string
              format: uuid
            name:
              type: string
        additionalCompensations:
          type: array
          items:
            type: object
        flexibleAdditionalCompensations:
          type: array
          items:
            type: object
        hasFlexibleGameCompensations:
          type: boolean
        gameCompensationFormatted:
          type: string
          description: Formatted game compensation with decimals
          example: "50.00"
        hasFlexibleTravelExpenses:
          type: boolean
        travelExpensesFormatted:
          type: string
          example: "20.00"
        hasFlexibleOvernightStayExpenses:
          type: boolean
        overnightStayExpensesFormatted:
          type: string
          example: "0.00"
        hasFlexibleCateringExpenses:
          type: boolean
        cateringExpensesFormatted:
          type: string
          example: "0.00"
        costFormatted:
          type: string
          description: Total compensation formatted
          example: "70.00"
        distanceFormatted:
          type: string
          description: Distance in km with one decimal
          example: "96.3"
    ExchangesResponse:
      type: object
      required: [items, totalItemsCount]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/GameExchange'
        totalItemsCount:
          type: integer
          minimum: 0
          example: 7
    # ==================== Referee Backup Response Schemas ====================
    RefereeBackupSearchResponse:
      type: object
      description: Response containing referee backup (Pikett) entries
      required: [items, totalItemsCount]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/RefereeBackupEntry'
        totalItemsCount:
          type: integer
          minimum: 0
          description: Total number of backup entries matching the search criteria
          example: 15
        entityTemplate:
          type: object
          nullable: true
          description: Template for creating new entities (usually null)
    RefereeBackupEntry:
      type: object
      description: A single date entry with assigned backup referees
      required: [__identity, date, weekday, calendarWeek]
      properties:
        __identity:
          type: string
          format: uuid
          description: Unique identifier for this backup entry
          example: "11111111-aaaa-bbbb-cccc-222222222222"
        date:
          type: string
          format: date-time
          description: The date for which backup referees are assigned (ISO 8601)
          example: "2025-01-10T23:00:00.000000+00:00"
        weekday:
          type: string
          description: Short weekday name (locale-dependent)
          example: "So"
        calendarWeek:
          type: integer
          description: Calendar week number
          minimum: 1
          maximum: 53
          example: 2
        joinedNlaReferees:
          type: string
          description: |
            Formatted string of NLA backup referees with contact info.
            Format: "#associationId | Name (email, phone)"
            Multiple referees separated by newlines.
          example: "#12345 | Max Mustermann (max@example.com, +41791234567)"
        joinedNlbReferees:
          type: string
          description: |
            Formatted string of NLB backup referees with contact info.
            Format: "#associationId | Name (email, phone)"
            Multiple referees separated by newlines.
          example: "#67890 | Anna Schmidt (anna@example.com, +41797654321)\n#11111 | Peter Müller (peter@example.com, +41791111111)"
        nlaReferees:
          type: array
          description: Detailed list of NLA backup referees
          items:
            $ref: '#/components/schemas/BackupRefereeAssignment'
        nlbReferees:
          type: array
          description: Detailed list of NLB backup referees
          items:
            $ref: '#/components/schemas/BackupRefereeAssignment'
    BackupRefereeAssignment:
      type: object
      description: An assignment of a referee as backup for a specific league
      required: [__identity, indoorReferee]
      properties:
        __identity:
          type: string
          format: uuid
          description: Unique identifier for this assignment
          example: "33333333-dddd-eeee-ffff-444444444444"
        indoorReferee:
          $ref: '#/components/schemas/BackupIndoorReferee'
        isDispensed:
          type: boolean
          description: Whether the referee is dispensed from duty
          default: false
        hasFutureRefereeConvocations:
          type: boolean
          description: Whether the referee has future convocations scheduled
        hasResigned:
          type: boolean
          description: Whether the referee has resigned
          default: false
        unconfirmedFutureRefereeConvocations:
          type: boolean
          description: Whether there are unconfirmed future convocations
          default: false
        originId:
          type: integer
          nullable: true
          description: Origin identifier (if imported from external system)
          example: 1234
        createdBy:
          type: string
          description: Username of creator
          example: "System"
        createdByPersistenceIdentifier:
          type: string
          description: UUID of creator
        updatedBy:
          type: string
          description: Username of last updater
        updatedByPersistenceIdentifier:
          type: string
          description: UUID of last updater
    BackupIndoorReferee:
      type: object
      description: Indoor referee details for backup assignment
      properties:
        persistenceObjectIdentifier:
          type: string
          format: uuid
          description: Referee identifier
          example: "55555555-aaaa-bbbb-cccc-666666666666"
        __identity:
          type: string
          format: uuid
          example: "55555555-aaaa-bbbb-cccc-666666666666"
        person:
          $ref: '#/components/schemas/BackupRefereePerson'
        refereeInformation:
          type: string
          description: Formatted referee info string
          example: "Mustermann Max (12345, 1990-01-15, )"
        transportationMode:
          type: string
          enum: [car, public_transport, bicycle, on_foot]
          description: Preferred transportation mode
          example: "car"
        validated:
          type: boolean
          description: Whether referee data is validated
        mobilePhoneNumbers:
          type: string
          description: Mobile phone number(s)
          example: "+41791234567"
        privatePostalAddresses:
          type: string
          description: Private postal address
          example: "Musterstrasse 1, 8000 Zürich"
        hasPlusCode:
          type: boolean
          description: Whether location has a Plus Code
        hasNotes:
          type: boolean
          description: Whether there are notes about this referee
        isInternationalReferee:
          type: boolean
          description: Whether this is an international referee
        hasLinesmanCertification:
          type: boolean
          description: Whether referee has linesman certification
    BackupRefereePerson:
      type: object
      description: Person details for a backup referee
      properties:
        persistenceObjectIdentifier:
          type: string
          format: uuid
          example: "77777777-aaaa-bbbb-cccc-888888888888"
        __identity:
          type: string
          format: uuid
          example: "77777777-aaaa-bbbb-cccc-888888888888"
        associationId:
          type: integer
          description: Swiss Volley association ID
          example: 12345
        firstName:
          type: string
          example: "Max"
        lastName:
          type: string
          example: "Mustermann"
        displayName:
          type: string
          description: Full display name
          example: "Max Mustermann"
        fullName:
          type: string
          description: Full name
          example: "Max Mustermann"
        gender:
          type: string
          enum: [m, f]
          example: "m"
        correspondenceLanguage:
          type: string
          enum: [de, fr, it, en]
          description: Preferred language for correspondence
          example: "de"
        language:
          type: string
          enum: [de, fr, it, en]
          example: "de"
        age:
          type: integer
          description: Age in years
          example: 35
        yearOfBirth:
          type: integer
          example: 1990
        formattedAndTimezoneIndependentBirthday:
          type: string
          format: date
          description: Birthday in YYYY-MM-DD format
          example: "1990-01-15"
        hasAccount:
          type: boolean
          description: Whether person has a VolleyManager account
        accountActive:
          type: boolean
          description: Whether account is active
        hasProfilePicture:
          type: boolean
        primaryEmailAddress:
          $ref: '#/components/schemas/EmailAddress'
        primaryPhoneNumber:
          $ref: '#/components/schemas/PhoneNumber'
    GameExchange:
      type: object
      required: [__identity, refereeGame, status, submittedAt, submittedByPerson, submittingType, refereePosition]
      properties:
        __identity:
          type: string
          format: uuid
          example: "eeeeeeee-eeee-eeee-eeee-eeeeeeeeeeee"
        refereeGame:
          $ref: '#/components/schemas/RefereeGameForExchange'
        status:
          type: string
          enum: [open, applied, closed]
          description: |
            - open: Available for application
            - applied: Someone has applied (waiting for assignment)
            - closed: Exchange completed or cancelled
          example: "open"
        submittedAt:
          type: string
          format: date-time
          example: "2025-12-07T23:17:47.000000+00:00"
        submittedByPerson:
          $ref: '#/components/schemas/PersonSummary'
        submittingType:
          type: string
          enum: [referee, admin]
          example: "referee"
        refereePosition:
          $ref: '#/components/schemas/RefereePosition'
        requiredRefereeLevel:
          $ref: '#/components/schemas/RefereeLevel'
        requiredRefereeLevelGradationValue:
          type: string
          description: |
            Gradation within the level:
            - 1: Highest gradation for position
            - 2: Second tier
            - 3: Third tier
          example: "1"
        appliedBy:
          type: object
          nullable: true
          description: Person who applied for this exchange (null if no applicant yet)
          properties:
            indoorReferee:
              type: object
              properties:
                person:
                  $ref: '#/components/schemas/PersonSummary'
        appliedAt:
          type: string
          format: date-time
          nullable: true
        _permissions:
          $ref: '#/components/schemas/Permissions'
    # ==================== Shared Schemas ====================
    RefereeGame:
      type: object
      description: A game with referee assignment context
      properties:
        __identity:
          type: string
          format: uuid
        game:
          $ref: '#/components/schemas/Game'
        isGameInFuture:
          type: string
          enum: ["0", "1"]
          description: Boolean as string (quirk of the backend)
        activeRefereeConvocationFirstHeadReferee:
          $ref: '#/components/schemas/RefereeConvocationRef'
        activeRefereeConvocationSecondHeadReferee:
          $ref: '#/components/schemas/RefereeConvocationRef'
        activeRefereeConvocationFirstLinesman:
          $ref: '#/components/schemas/RefereeConvocationRef'
        activeRefereeConvocationSecondLinesman:
          $ref: '#/components/schemas/RefereeConvocationRef'
        activeRefereeConvocationThirdLinesman:
          $ref: '#/components/schemas/RefereeConvocationRef'
        activeRefereeConvocationFourthLinesman:
          $ref: '#/components/schemas/RefereeConvocationRef'
        activeRefereeConvocationStandbyHeadReferee:
          $ref: '#/components/schemas/RefereeConvocationRef'
        activeRefereeConvocationStandbyLinesman:
          $ref: '#/components/schemas/RefereeConvocationRef'
    RefereeGameForExchange:
      type: object
      description: Referee game data as returned in exchange responses
      properties:
        __identity:
          type: string
          format: uuid
        game:
          $ref: '#/components/schemas/Game'
        dispositionConfiguration:
          type: object
          properties:
            requiredRefereeLevelForFirstHead:
              type: object
              properties:
                name:
                  $ref: '#/components/schemas/RefereeLevel'
            requiredRefereeLevelForSecondHead:
              type: object
              properties:
                name:
                  $ref: '#/components/schemas/RefereeLevel'
            requiredRefereeLevelGradationValueForFirstHead:
              type: integer
            requiredRefereeLevelGradationValueForSecondHead:
              type: integer
        isGameInFuture:
          type: string
          enum: ["0", "1"]
        activeFirstHeadRefereeName:
          type: string
          description: Display name of current first head referee
          example: "Nick Leo Kunz"
        activeSecondHeadRefereeName:
          type: string
          example: "Julija Saric"
        activeFirstLinesmanRefereeName:
          type: string
        activeSecondLinesmanRefereeName:
          type: string
    Game:
      type: object
      properties:
        __identity:
          type: string
          format: uuid
        startingDateTime:
          type: string
          format: date-time
          example: "2025-12-08T19:30:00.000000+00:00"
        number:
          type: integer
          description: Match number
          example: 382417
        playingWeekday:
          type: string
          enum: [Mon, Tue, Wed, Thu, Fri, Sat, Sun]
          example: "Mon"
        status:
          type: string
          description: Game status (e.g., "approved", "scheduled", "completed")
          example: "approved"
        encounter:
          $ref: '#/components/schemas/Encounter'
        group:
          $ref: '#/components/schemas/Group'
        hall:
          $ref: '#/components/schemas/Hall'
        # Nomination list flags
        hasNominationListToReviewByReferee:
          type: boolean
        hasNominationListOfTeamHomeOfActiveParty:
          type: boolean
          description: Whether active party has home team nomination list access
        hasNominationListOfTeamAwayOfActiveParty:
          type: boolean
          description: Whether active party has away team nomination list access
        hasNominationListOfTeamOfActiveParty:
          type: boolean
          description: Whether active party has any team nomination list access
        # Nomination lists (for showWithNestedObjects)
        nominationListOfTeamHome:
          $ref: '#/components/schemas/NominationList'
        nominationListOfTeamAway:
          $ref: '#/components/schemas/NominationList'
        scoresheet:
          $ref: '#/components/schemas/Scoresheet'
        # Game result flags
        isVolleyCupGameWithoutNationalAssociationLeagueCategoryTeams:
          type: boolean
        isForfeitGame:
          type: boolean
          description: Whether the game was forfeited
        forfeitDecisionDateTime:
          type: string
          format: date-time
          nullable: true
          description: When the forfeit decision was made
        result:
          type: object
          nullable: true
          description: Game result (null if not yet played)
        bestOfSeriesResult:
          type: object
          nullable: true
        pointSystem:
          type: object
          nullable: true
        # Game result reports
        hasGameResultReportFromHomeTeam:
          type: boolean
        hasGameResultReportFromAwayTeam:
          type: boolean
        hasGameResultReportFromReferee:
          type: boolean
        hasGameResultReportFromChampionshipOwner:
          type: boolean
        homeTeamGameResultReportDeadlineExceeded:
          type: boolean
        awayTeamGameResultReportDeadlineExceeded:
          type: boolean
        refereeGameResultReportDeadlineExceeded:
          type: boolean
        displayName:
          type: string
          description: Full formatted display name for the game
          example: "#382417 | 08.12.2025 20:30 | #3926 | Volley Uster H2 — #85 | VC Tornado Adliswil H1 (3L, ♂, Hin- und Rückrunde, Herren 3. Liga Gruppe B)"
        shortDisplayName:
          type: string
        shortDisplayNameWithoutStartingDate:
          type: string
        gameDayIndex:
          type: integer
          description: Match day number in the season
        onAWeekday:
          type: boolean
        lastPostponement:
          type: object
          nullable: true
          properties:
            createdAt:
              type: string
              format: date-time
    Encounter:
      type: object
      properties:
        __identity:
          type: string
          format: uuid
        teamHome:
          $ref: '#/components/schemas/Team'
        teamAway:
          $ref: '#/components/schemas/Team'
    Team:
      type: object
      description: A volleyball team within a club
      properties:
        __identity:
          type: string
          format: uuid
        persistenceObjectIdentifier:
          type: string
          format: uuid
        identifier:
          type: integer
          description: Team identifier number
          example: 59591
        staticTeamIdentifier:
          type: integer
          description: Static identifier that doesn't change across seasons
          example: 5459
        name:
          type: string
          example: "VBC Züri Unterland"
        displayName:
          type: string
          example: "#5459 | VB Therwil (1L, ♂, SV)"
        clubDisplayName:
          type: string
          example: "#909740 | VB Therwil"
        # Gender
        gender:
          type: string
          enum: [m, f]
        genderUnicodeSign:
          type: string
          example: "♂"
        # Status
        active:
          type: boolean
        teamRegistrationStatus:
          type: string
          enum: [pending, confirmed, cancelled]
        teamRegistrationConfirmedBy:
          type: object
          nullable: true
        reminderAboutNotCompletedTeamRegistrationSentAt:
          type: string
          format: date-time
          nullable: true
        # Settings
        defaultPlayingWeekday:
          type: integer
          description: Default day of week (0=Sunday, 6=Saturday)
        defaultPlayingTime:
          type: string
          description: Default playing time
          example: "19:30"
        strengthClass:
          type: integer
          nullable: true
        # Flags
        isTalentDevelopmentTeam:
          type: boolean
        isRegisteredForNationalCup:
          type: boolean
        isRegisteredForRegionalNJCQualificationTournaments:
          type: boolean
        registeredForRegionalCup:
          type: boolean
          nullable: true
        hasTeamPicture:
          type: boolean
        # References
        league:
          $ref: '#/components/schemas/League'
        leagueCategory:
          $ref: '#/components/schemas/LeagueCategory'
        season:
          $ref: '#/components/schemas/SeasonReference'
        club:
          $ref: '#/components/schemas/Club'
        defaultHall:
          type: object
          nullable: true
        teamPicture:
          type: object
          nullable: true
        # Translations
        translations:
          type: object
          properties:
            de:
              type: object
              properties:
                name:
                  type: string
            fr:
              type: object
              properties:
                name:
                  type: string
        # Permissions
        _permissions:
          $ref: '#/components/schemas/Permissions'
        # Audit fields
        createdBy:
          type: string
        createdByIpAddress:
          type: string
          nullable: true
        createdByPersistenceIdentifier:
          type: string
        updatedBy:
          type: string
        updatedByIpAddress:
          type: string
          nullable: true
        updatedByPersistenceIdentifier:
          type: string
        lastUpdatedByRealUser:
          type: boolean
          nullable: true
    Club:
      type: object
      description: A volleyball club
      properties:
        __identity:
          type: string
          format: uuid
        persistenceObjectIdentifier:
          type: string
          format: uuid
        identifier:
          type: string
          description: Club identifier code
          example: "909020"
        name:
          type: string
          example: "VBC Allschwil"
        displayName:
          type: string
          example: "#909020 | VBC Allschwil"
        shortName:
          type: string
          nullable: true
        # Status
        active:
          type: boolean
        activeInRegionalAssociationOnly:
          type: boolean
        accountActive:
          type: boolean
        hasAccount:
          type: boolean
        hasProfilePicture:
          type: boolean
        # Settings
        language:
          type: string
          enum: [de, fr, it, en]
          nullable: true
        localeIdentifier:
          type: string
          example: "1"
        username:
          type: string
          nullable: true
        # Contact
        mobilePhoneNumber:
          type: string
          nullable: true
        primaryEmailAddress:
          type: object
          nullable: true
        primaryPhoneNumber:
          type: object
          nullable: true
        primaryPostalAddress:
          type: object
          nullable: true
        profilePicture:
          type: object
          nullable: true
        # Privacy
        privacySettings:
          type: object
          nullable: true
        # Active party fields
        activeAttributeValue:
          type: object
          nullable: true
        activeRoleIdentifier:
          type: string
        inflatedActiveAttributeValue:
          type: object
          nullable: true
        initialAccessDataSendDate:
          type: string
          format: date-time
          nullable: true
        # Translations
        translations:
          type: object
          properties:
            de:
              type: object
              properties:
                name:
                  type: string
                shortName:
                  type: string
        # Audit fields
        createdBy:
          type: string
        createdByIpAddress:
          type: string
          nullable: true
        createdByPersistenceIdentifier:
          type: string
        updatedBy:
          type: string
        updatedByIpAddress:
          type: string
          nullable: true
        updatedByPersistenceIdentifier:
          type: string
        lastUpdatedByRealUser:
          type: boolean
          nullable: true
    Group:
      type: object
      description: Competition group within a phase
      properties:
        __identity:
          type: string
          format: uuid
        name:
          type: string
          example: "Herren 3. Liga Gruppe B"
        displayName:
          type: string
          example: "#27106 | Herren 2. Liga"
        shortName:
          type: string
        identifier:
          type: string
        isTournamentGroup:
          type: boolean
          description: Whether this is a tournament group (affects nomination workflow)
        hasNoScoresheet:
          type: boolean
          description: Whether games in this group require no scoresheet
        bestOfSeriesState:
          type: string
          nullable: true
        considerForTopScorerRanking:
          type: boolean
        playingInterval:
          type: string
          nullable: true
        playingModeType:
          type: string
        managingAssociationShortName:
          type: string
          description: Short name of the managing association (e.g., "SVRZ")
        phase:
          $ref: '#/components/schemas/Phase'
    Phase:
      type: object
      description: Competition phase within a league
      properties:
        __identity:
          type: string
          format: uuid
        name:
          type: string
          example: "Hin- und Rückrunde"
        league:
          $ref: '#/components/schemas/League'
    League:
      type: object
      properties:
        __identity:
          type: string
          format: uuid
        leagueCategory:
          $ref: '#/components/schemas/LeagueCategory'
        gender:
          type: string
          enum: [m, f]
          description: m = male, f = female
    LeagueCategory:
      type: object
      description: |
        League category (e.g., NLA, NLB, 3L, U23).
        Categories determine compensation rates and referee requirements.
      properties:
        __identity:
          type: string
          format: uuid
        persistenceObjectIdentifier:
          type: string
          format: uuid
        identifier:
          type: integer
          description: Numeric identifier for the league category
          example: 2
        name:
          type: string
          description: |
            League tier name:
            - NLA, NLB: National leagues
            - 1L, 2L, 3L, 4L, 5L: Regional leagues
            - Mobilière Volley Cup: Cup competition
            - U23, U19, etc.: Junior categories
          example: "NLB"
        shortName:
          type: string
          description: Short abbreviation
          example: "NLB"
        displayName:
          type: string
          description: Display name with identifier prefix
          example: "#2 | NLB"
        displayNameWithManagingAssociationShortName:
          type: string
          description: Display name with association prefix
          example: "SV | NLB"
        translations:
          type: object
          properties:
            de:
              type: object
              properties:
                name:
                  type: string
            fr:
              type: object
              properties:
                name:
                  type: string
        sorting:
          type: integer
          description: Sort order for display
          example: 3
        active:
          type: boolean
          description: Whether this category is currently active
        # Category type flags
        isJuniorLeagueCategory:
          type: boolean
          description: Whether this is a junior/youth category
        isSeniorLeagueCategory:
          type: boolean
          description: Whether this is a senior category
        isLeagueCategoryOfferedToApi:
          type: boolean
          description: Whether exposed via public API
        isLeagueCategoryUsedForTeamLeaguesInClub:
          type: boolean
          description: Whether used for club team leagues
        # Rules and requirements
        allowedForDoubleLicense:
          type: boolean
          description: Whether double license is allowed
        scoresheetUploadRequired:
          type: boolean
          description: Whether scoresheet upload is mandatory
        writersCanUseSimpleScoresheetForThisLeagueCategory:
          type: boolean
          description: Whether simple scoresheet format is allowed
        canBeUsedAsEquivalentNationalAssociationLeagueCategory:
          type: boolean
        equivalentNationalAssociationLeagueCategory:
          type: object
          nullable: true
        definitiveTeamRegistrationRequired:
          type: boolean
        definitiveTeamRegistrationReminderDay:
          type: integer
          nullable: true
        definitiveTeamRegistrationReminderMonth:
          type: integer
          nullable: true
        definitiveTeamRegistrationReminderDayAndMonthFormatted:
          type: string
        numberOfRequiredRefereeMandatesPerTeam:
          type: integer
          nullable: true
          description: Number of referee mandates required per team
        numberOfStrenghtClasses:
          type: integer
          nullable: true
        # Age restrictions
        maximumAge:
          type: integer
          nullable: true
          description: Maximum age for junior categories
        minimumAge:
          type: integer
          nullable: true
          description: Minimum age requirement
        # Audit fields
        createdBy:
          type: string
        createdByIpAddress:
          type: string
        createdByPersistenceIdentifier:
          type: string
        updatedBy:
          type: string
        updatedByIpAddress:
          type: string
        updatedByPersistenceIdentifier:
          type: string
        lastUpdatedByRealUser:
          type: boolean
          nullable: true
    Hall:
      type: object
      description: Sports hall/venue
      properties:
        __identity:
          type: string
          format: uuid
        name:
          type: string
          example: "Krämeracker 1-2"
        primaryPostalAddress:
          $ref: '#/components/schemas/PostalAddress'
    PostalAddress:
      type: object
      description: Full postal address with geographical location
      properties:
        __identity:
          type: string
          format: uuid
        persistenceObjectIdentifier:
          type: string
          format: uuid
        # Address components
        street:
          type: string
          example: "Gartenstrasse"
        houseNumber:
          type: string
          example: "9"
        streetAndHouseNumber:
          type: string
          example: "Gartenstrasse 9"
        postBox:
          type: string
          nullable: true
        postalCode:
          type: string
          example: "8102"
        city:
          type: string
          example: "Oberengstringen"
        postalCodeAndCity:
          type: string
          example: "8102 Oberengstringen"
        additionToAddress:
          type: string
          nullable: true
        combinedAddress:
          type: string
          description: Full formatted address
        asMultilineText:
          type: string
          description: Address formatted with HTML line breaks
          example: "Gartenstrasse 9<br />8102 Oberengstringen<br />Suisse"
        type:
          type: string
          enum: [full, address_only, po_box_only]
          description: Type of address
        # Status
        isPrimary:
          type: boolean
        primary:
          type: boolean
        label:
          type: string
          nullable: true
        usageType:
          type: integer
          description: Usage type (1 = primary, 2 = secondary, etc.)
        # Validation
        validated:
          type: boolean
        validationStatus:
          type: string
          enum: [unknown, validated, invalid]
        lastValidation:
          type: string
          format: date-time
          nullable: true
        validationCodeFromSource:
          type: string
          nullable: true
        validationSourceName:
          type: string
          nullable: true
        # Geographic data
        country:
          $ref: '#/components/schemas/CountryDetailed'
        countrySubdivision:
          $ref: '#/components/schemas/CountrySubdivision'
        geographicalLocation:
          $ref: '#/components/schemas/GeographicalLocation'
        # Legacy field
        originId:
          type: integer
          nullable: true
        # Audit fields
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
        createdByIpAddress:
          type: string
          nullable: true
[...]
